@model List<BlogProject.Models.BlogEntry>

@{
    ViewBag.Title = "Approve";
}

<h2>Approve</h2>

<div class="container">
    @foreach (var x in Model)
    {
        <div class="row blogRow">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 title">
                        <h4><a href="https://localhost:44390/Home/ApprovePost?id=@x.BlogId">@x.Title</a> </h4><br />
                    </div>
                    <div class="col-sm-4 author">
                        <p>Author: @x.Author</p><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>@Html.Raw(@x.PreviewText)</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Category: @x.Category.Text</p>
                    </div>
                    <div class="col-sm-6 publishDate">
                        <p><i>Published: @x.DateCreated.Month/@x.DateCreated.Day/@x.DateCreated.Year</i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            Tags:
                            @if (x.Tags != null)
                            {
                                foreach (var y in x.Tags)
                                {
                                    <span> @y  </span>
                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section customcss{
    <style>
        .blogRow {
            border: thin solid;
            margin: 15px;
            padding: 15px;
        }

        .publishDate, .author {
            text-align: right;
            vertical-align: baseline;
        }
    </style>
}